*.exe
*.o
*_kietekai.dat
*_vargsiukai.dat
*kursiokai_10000000.dat
versions/deque(struct_impl)/*.exe
versions/deque(struct_impl)/*.o
versions/list(struct_impl)/*.exe
versions/list(struct_impl)/*.o
versions/vector(class_impl)/*.exe
versions/vector(class_impl)/*.o
versions/deque(struct_impl)/build
versions/list(struct_impl)/build
versions/vector(class_impl)/build
/versions/v3.0/build
/versions/v3.0/.idea
/.vs
/.idea